@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}



@font-face {
  font-family: 'Changa One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/changa-one-v22-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins-v24-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/permanent-marker-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/bebas-neue-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/league-spartan-v15-latin-regular.woff2") format("woff2");
}